.container {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 80px;
}

.input {
  width: 100%;
  padding: 14px 40px;

  border: 1px solid #4159ff;
}

.find_button {
  position: absolute;
  right: 0;
  bottom: 50%;

  width: 30px;
  height: 30px;
  margin-right: 15px;
  margin-bottom: -15px;

  background: transparent;
  background-image: url('../../static/img/search.svg');
  background-position: center;
  border: 0;
  outline: none;
  cursor: pointer;
}

.resetSearch_button {
  position: absolute;
  right: 0;
  bottom: 50%;

  width: 20px;
  height: 20px;
  margin-right: 60px;
  margin-bottom: -10px;

  background: transparent;
  background-image: url('../../static/img/close.svg');
  background-position: center;
  border: 0;
  outline: none;
  cursor: pointer;
}
