a {
  text-decoration: none;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;

  background-image: url('../../static/img/loading.gif');
  background-repeat: no-repeat;
  background-size: 100px;
  border-radius: 50px;
}

.error {
  position: relative;

  padding-left: 100px;

  color: #1c1a6d;
  font-weight: lighter;
  font-size: 27px;
}

.error::before {
  position: absolute;
  top: -50%;
  left: 20px;

  width: 64px;
  height: 64px;

  background-image: url('../../static/img/error.svg');
  background-size: 64px;

  content: '';
}

.container {
  width: 80%;
  margin: 0 auto;
  padding-top: 30px;
}

.header {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.logo {
  position: relative;

  padding-left: 70px;

  color: #1c1a6d;
  font-weight: lighter;
  font-size: 27px;
}

.logo::before {
  position: absolute;
  top: -50%;
  left: 0;

  width: 64px;
  height: 64px;

  background-image: url('../../static/img/blog.svg');

  content: '';
}

.sorting {
  display: flex;
  flex-wrap: nowrap;
  width: 80%;
  margin: 0 auto;

  border: 1px solid #4159ff;
  border-right: none;
}

.sorting__item {
  width: 25%;
  padding: 15px 0;

  background-color: transparent;
  border: none;
  border-right: 1px solid #4159ff;
  cursor: pointer;
}

.sorting__item:hover,
.sorting__item:active {
  color: #fff;

  background: linear-gradient(to top right, #5990ea, #355eff);
}

.create {
  padding: 20px;

  color: #4159ff;
  text-decoration: none;

  background-color: #fff;
  border: 1px solid #4159ff;
  border-radius: 20px;
  cursor: pointer;
}

.create:hover,
.create:active {
  color: #fff;

  background-color: #a82bff;
  border: 1px solid #fff;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.create:active {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.posts {
  margin-top: 50px;

  list-style-type: none;
}

.posts_item {
  position: relative;

  display: flex;
  flex-wrap: nowrap;
}

.posts_item::before {
  position: absolute;
  top: -5px;
  left: 0;

  width: 40px;
  height: 40px;

  background-image: url('../../static/img/doc.svg');
  background-size: 40px;

  content: '';
}

.posts_title {
  margin: 0;
  padding-left: 45px;

  color: #000;
  font-weight: lighter;
  font-size: 22px;
  text-transform: uppercase;
}

.posts_body {
  color: #000;
}

.posts_rating {
  position: absolute;
  right: 0;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: 50px;
}

.post_information {
  width: 90%;
  margin-bottom: 40px;
}

.button {
  margin-right: 15px;
  padding: 10px 15px;

  color: #fff;

  background: linear-gradient(to top right, #5990ea, #355eff);
  border: 1px solid #355eff;
  outline: none;
  cursor: pointer;
}

.button:hover {
  color: #1c1a6d;
}

.button:active,
.button:focus {
  outline: none;
}
